&normal_cnf_inverse
   nx              = 96
   ny              = 48
   nz              = 60
   nstep           =   1
   coef3DNMF_fname = '../../NMF_DATABASE/coef/Hough_coeff_'
   inverse_fname   = '../../NMF_DATABASE/inverse/Erai_allk_'
   inv2hybrid      = .false.
   ps_fname        = '../../NMF_DATABASE/coef/Ps_'
   meant_fname     = '../../NMF_DATABASE/coef/Tmean_'
   saveasci        = .false.
   afname          = '../../NMF_DATABASE/inverse/Erai_ascii_allk_'
   aformat         = '(96E16.4,1x)'
   savenc          = .true.
   ncname          = '../../NMF_DATABASE/inverse/Erai_allk_'
/

&time
   datetype = 'yyyymmddhh'
   syear    = 2000
   smon     =   01
   sday     =   01
   shour    =   00
   smins    =   00
   ssec     =   00
   slen     =   00
   eyear    = 2000
   emon     =   01
   eday     =   01
   ehour    =   00
   emins    =   00
   esec     =   00
   elen     =   00
   dt       =   00
/

&hough_cnf
   hough_fname = '../../NMF_DATABASE/hough/hough'
   num_zw      = 40
   maxl        = 30
   my          = 48
   shough      = 1
   ehough      = 90
/

&meridional_grid
   ygrid_fname = '../../NMF_DATABASE/gauss/gauss48.data'
/

&filter_cnf
   eig_n_s = 610
   eig_n_e = 100
   wig_n_s = 610
   wig_n_e = 100
   rot_n_s = 610
   rot_n_e = 100
   kmode_s = 220
   kmode_e = 85
   vmode_s = 410
   vmode_e = 70
/

&vsf_cnf
   vsf_fname         = '../../NMF_DATABASE/vsf/vsf.data'
   vgrid_fname       = '../../NMF_DATABASE/vsf/erainterim_sigma_levels.data'
   equiheight_fname  = '../../NMF_DATABASE/vsf/equivalent_height.data'
   model_level_fname = '../../NMF_DATABASE/vsf/erainterim_model_levels.dat'
   num_vmode         = 20
   zgrid             = 'Sigma'
   mp                = 60
   top               = 1.0
   given_vsf         = .true.
/
